:root{
  	color-scheme: light dark;
	
}
#controls{
	background: light-dark(white, black);
	color: light-dark(black, white);
	position: sticky;
}

#bookContent .page{
	background: white;
	color: black;
	margin: 1em 1em;
	page-break-after: always;
}
#bookContent{
	border: 4px solid light-dark(black, white);
	
}
#bookContent.tiger{
	font-family: Braille29;
    font-size: 29pt;	
	line-height:34.8pt;
	width: 40em;
	
}
p {margin: 0; padding: 0;}
.page table{}

.page table td, .page table th{width: 1.5em; text-align: left; height: 1.5em; font-weight: normal;}
.page table td{border: 1px solid;}
#bookContent .page .header{text-align: center; margin: auto; width: fit-content;}

.iconGrid svg{width: 100px;}
.iconGrid div{float: left; width: 25%; margin-top: 1em;}
.iconGrid {height: 20em; margin-top: 1em;}
@media print {
	@page{
		size: 11.5in 11in;
		font-size: 29pt;
		}
	#controls{display: none;}
	#bookContent .page{margin:none; font-size: 1.5em;}
	#bookContent{border: none;}
}